* {

    font-family: Arial, sans-serif;

}

.header-container {

    display: grid;
    grid-template-columns: 20px 50px 50px minmax(0px, 90%) 65px 65px 40px;
    align-items: center;
    font-size: 15px;

}

header a {

    color: rgb(0, 0, 0);
    text-decoration: none;

}

header a:hover {

    color: rgb(0, 0, 0);
    text-decoration: underline;

}

.about {

    grid-column: 2;

}

.store {

    grid-column: 3;

}

.gmail {

    grid-column: 5;

}

.images {

    grid-column: 6;

}

.six-dot {

    grid-column: 7;

}

.profile {

    grid-column: 8;

}

.profile-image {

    border-radius: 50%;

}

.main-container {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 75px 75px 75px;
    grid-template-areas: ". . image image . ."
                         ". . search search . ."
                         ". . button1 button2 . ."
                         ". . blurb blurb . .";
    column-gap: 15px;
    margin: 8em;

}

.image {

    grid-area: image;
    justify-self: center;

}

.search {

    grid-area: search;
    justify-self: center;

}

.search-image {

    position: relative;
    top: 47%;
    left: 2%;

}

.microphone-image {

    position: relative;
    bottom: 48%;
    left: 92%;

}

button {

    font-size: 15px;
    background-color: rgba(197, 195, 195, 0.1);
    color: rgb(70, 69, 69)

}

button:hover {

    border-style: solid;
    border-width: 1px;
    border-color: rgba(190, 189, 189, 0.7);

}

.button1 {

    grid-area: button1;
    justify-self: right;
    align-self: center;
    height: 40px;
    width: 120px;
    border-style: none;
    border-radius: 5px;

}

.button2 {

    grid-area: button2;
    justify-self: left;
    align-self: center;   
    height: 40px;
    width: 150px;   
    border-style: none;
    border-radius: 5px;

}

.blurb {

    grid-area: blurb;
    justify-self: center;
    font-size: 14px;

}

.blurb a {

    text-decoration: none;
    color: rgb(17, 41, 179);

}

.blurb a:hover {

    text-decoration: underline;

}

form {

    width: 100%;

}

input {

    width: 525px;
    height: 38px;
    border-style: solid;
    border-color: rgba(194, 191, 191, 0.5);
    border-width: 1.2px;
    border-radius: 30px;

}

input:focus {

    outline: none;

}

input:hover {

    box-shadow: 0 0 0 1px rgba(138, 137, 137, 0.4);

}

input[type="text"] {

    padding-left: 50px;
    font-size: 20px;

}

footer a {

    text-decoration: none;
    color: rgba(104, 103, 103, 0.8);

}

footer a:hover {


    text-decoration: underline;

}

.top-section {

    background-color: rgba(185, 184, 184, 0.2);
    color: rgba(104, 103, 103, 0.8);
    font-size: 17px;
    padding: 1em 1em 0.6em 1.2em;

}

footer {

    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    width: 99vw;

}

.bottom-section {

    background-color: rgba(185, 184, 184, 0.2);
    color: rgba(104, 103, 103, 0.8);
    font-size: 17px;
    padding: 1em 0 1em 1.2em;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: rgb(170, 168, 168, 0.3);
    display: grid;
    grid-template-columns: 100px 100px 300px minmax(0px, 90%) 85px 75px 80px;
    align-items: center;

}

.left-item {

    float: left;
    width: 50%;

}

.right-item {

    width: 50%;
    float: right;

}

.bottom-item {

    padding-right: 1em;
    display: inline;

}

.privacy-item {

    grid-column: 5;

}

@media (max-width: 785px) {

    .bottom-section {

        grid-template-columns: 33% 33% 33%;
        height: 75px;
        justify-content: center;
        grid-template-rows: 1fr 1fr;

    }

    .right-item {

        grid-row: 2;
        align-self: flex-end;

    }

    .privacy-item {

        grid-column: 1;
        justify-self: flex-end;

    }

    .how-search {

        width: 200px;

    }

    .bottom-item {

        justify-self: center;

    }


}